<footer class="border-top footer text-muted" style="position:relative;bottom:0;width:100%;">
    <div class="container">
        &copy; 2023 - Football_Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>