@{
    ViewData["Title"] = "Profession Info";
}

<partial name="_LayoutHeader"/>

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-10 m-auto col-lg-4">
            <partial name="_ProfileSideView" />
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Home" 
                       asp-action="Index">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" 
                        asp-action="Professional">Professional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
            </ul>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            Username:
                                        </div>
                                        <div class="col-8">
                                            <b>Exdoe</b>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            Firstname:
                                        </div>
                                        <div class="col-8">
                                            <b>Kofi</b>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            Lastname:
                                        </div>
                                        <div class="col-8">
                                            <b>Gyasi</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            Email:
                                        </div>
                                        <div class="col-8">
                                            <b>kofigyasidev@gmail.com</b>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            Phone number:
                                        </div>
                                        <div class="col-8">
                                            <b>0557833216</b>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            Date of birth:
                                        </div>
                                        <div class="col-8">
                                            <b>19/04/1967</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">Edit info</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row position-relative mb-0">
    <partial name="_LayoutFooter" />
</div>
