@model TeamModel

@{
    ViewData["Title"] = "Team Info";
}

<partial name="_LayoutHeader" />

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center mt-2">My Team</h5>
        </div>
        <div class="card-body">
            <div class="row m-auto">

                <div class="col-12 col-lg-12 mt-5 mt-lg-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-controller="Home"
                               asp-action="Index">View Info</a>
                        </li>
                        @if (User.FindAll("role").Any(x => x.Value == "Player"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home"
                                   asp-action="EditPlayer">Edit Info</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home"
                               asp-action="Team">Team Info</a>
                        </li>

                        @if (User.FindAll("role").Any(x => x.Value == "admin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Home"
                                   asp-action="CreatePlayer">Add Player</a>
                            </li>
                        }
                    </ul>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-title"><strong>Teammates</strong></div>
                                <div class="row g-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            ...
                                        </table>
                                    </div>    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_LayoutFooter" />